@font-face {
    font-family: 'BCcardB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #543939;
    cursor: url(../mainpage_images/mousehover.png), auto; 
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    line-height: 20px;
    color: #543939;
    min-width: 1320px;
    cursor: url(../mainpage_images/mouse.png), auto; 
    
}

h1, h3, h4{
    font-family: 'BCcardB';
}


/* header */
#header{
    width: 1320px;
    height: 130px;
    margin: 0 auto;
}
.logo{
    float: left;
    padding-top: 20px;
}
.h_right{
    float: right;
}
.link{
    padding-top: 10px;
    padding-left: 500px;
    overflow: hidden;
    
}
.link li{
    float: left;
    color: #999;
    
}
.link li a{
    color: #999;
    font-size: 14px;
}
.link li a:hover{
    color: #543939;
    text-decoration: underline;
}
.nav{
    height: 100px;
}
.nav> li{
    float: left;
    position: relative;
}
.nav> li> a{
    padding: 40px 30px 42px;
    font-weight: bold;
    font-size: 24px;
    display: block;
    font-family: 'BCcardB';    
}
.h_right .nav> li:hover> a{
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgba(84, 57, 57, 0.5);
    
}
/* 서브메뉴 */
.sub a{
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px 0;  
    transition: all 0.5s;
}
.sub a:hover{
    background-color: #e3d0b2;
    color: #543939;
}
.sub{
    display: none;
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;

}
.nav li:hover .sub{
    display: block;
}

/* 브랜드 이미지 */
.brand img{
    width: 100%;
    display: block;
}


/* 배경화면 */
.brand_bg{
    background: url(../brandpage_images/brand_bg.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 브랜드 아이덴티티 */
.bi{
    width: 1320px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}
.bi h1{
    font-size: 40px;
    padding-bottom: 160px;
}
.bi h3{
    font-size: 30px;
    text-align: left;
    padding-bottom: 40px;

}
.identity{
    line-height: 50px;
    text-align: left;
    padding-bottom: 50px;
    font-weight: bold;
}
.bi_inner{
    position: relative;
    margin-bottom: 200px;
}

.bi_inner p:nth-child(2){
    position: absolute;
    bottom: 25%;
    left: 10%;
}
.bi_inner p:nth-child(3){
    position: absolute;
    bottom: 25%;
    left: 35%;
}
.bi_inner p:nth-child(4){
    position: absolute;
    bottom: 25%;
    right: 454px;
}
/* 메인 로고 & 서브 로고 */
.Main_logo{
    float: left;
    width: 599px;
}
.Sub_logo{
    float: right;
    width: 599px;
}
.Main_logo h3{
    font-size: 30px;
    padding-left: 30px;
}
.Sub_logo h3{
    font-size: 30px;
    padding-left: 30px;
}

/* 다소곳이 컬러 */
 .logo_color{
    width: 1320px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 150px;
    
    
}
.color_img{
    position: relative;
    margin: 0 auto;
    width: 1166px;
    height: 744px;
    background: url(../brandpage_images/brand_colorbg.png) no-repeat;
}
.color_img img:nth-child(1){
    position: absolute;
    bottom: 71%;
    left: 17%;
}
.color_img img:nth-child(2){
    position: absolute;
    bottom: 2%;
    left: 25%;
    z-index: 40;
}
.color_img img:nth-child(3){
    position: absolute;
    bottom: 24%;
    right: 39%;
    z-index: 45;
}
.color_img img:nth-child(4){
    position: absolute;
    bottom: 9%;
    right: 25%;
    z-index: 50;
}
.color_img img:nth-child(5){
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.color_img img:nth-child(6){
    position: absolute;
    bottom: 34%;
    right: 4%;
}
.color_img img:nth-child(7){
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.logo_color h3{
    font-size: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
} 
.logo_color .button{
    background-color: #543939;
    color: #fff;
    border-radius:10px 10px 10px 10px;
    display: inline-block;
    font-size: 16px;
    padding: 7px;
    margin-top: 70px;
    margin-left: 580px;
    text-decoration: none;
    box-shadow: 10px 10px 0 #97bfce93;
    transition: all 0.5s;
}
.logo_color .button:hover{
    color: #543939;
    background-color: #e3d0b2;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.5);
    transform: translate(10px, 10px);
}









/* 푸터 */
.footer_inner{
    margin: 0 auto;
    width: 100%;
    background: url(../mainpage_images/wave_footer.png) no-repeat 50% 0;
    background-size: cover;
    animation: wave 8s infinite alternate linear ;
    height: 482px;
    text-align: center;
    margin-top: 70px;
}
@keyframes wave{
    0%{background-position: 50% 0;}
    100%{background-position: 0% 0px;}
}
.footer_inner ul{
    padding-top: 30px;
}
.f_logo img{
    padding-top: 130px;
}
.sns li{
    float: left;
    overflow: hidden;
    padding: 0px 10px;
}
.sns li a{
    display: block;
    width: 36px;
    height: 36px;
    opacity: 0.5;
}
.sns li:nth-child(1) a{
    background: url(../mainpage_images/facebook.png) no-repeat;
}
.sns li:nth-child(2) a{
    background: url(../mainpage_images/instagram.png) no-repeat;
}
.sns li:nth-child(3) a{
    background: url(../mainpage_images/youtube.png) no-repeat;
}
.sns li:hover a{
    opacity: 1;
}
.link2 li:hover a{
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgba(84, 57, 57, 0.6);
}
.link2 li, .link a{
    color: #543939;
}
.footer_inner ul{
    display: inline-block;
}
.link2 li{
    float: left;
}
.link3 li{
    float: left;
    
}
.link3{
    text-align: center;
    padding: 0px 30px;
    
}
.line{
    padding: 0px 20px;
}
/* top 버튼 */
.top {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.top img{
    display: block;
}



