@font-face {
    font-family: 'BCcardB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #543939;
    cursor: url(../mainpage_images/mousehover.png), auto;
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    line-height: 20px;
    color: #543939;
    min-width: 1320px;
    cursor: url(../mainpage_images/mouse.png), auto;
}
h1, h2, h3, h4{
    font-family: 'BCcardB';
}
/* header */
#header{
    width: 1320px;
    height: 130px;
    margin: 0 auto;
}
.logo{
    float: left;
    padding-top: 20px;
}
.h_right{
    float: right;
}
.link{
    padding-top: 10px;
    padding-left: 500px;
    overflow: hidden;
    
}
.link li{
    float: left;
    color: #999;
    
}
.link li a{
    color: #999;
    font-size: 14px;
}
.link li a:hover{
    color: #543939;
    text-decoration: underline;
}
.nav{
    height: 100px;
}
.nav> li{
    float: left;
    position: relative;
}
.nav> li> a{
    padding: 40px 30px 42px;
    font-weight: bold;
    font-size: 24px;
    display: block;
    font-family: 'BCcardB';    
}
.h_right .nav> li:hover> a{
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgba(84, 57, 57, 0.5);
    
}
/* 서브메뉴 */
.sub a{
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px 0;  
    transition: all 0.5s;
}
.sub a:hover{
    background-color: #e3d0b2;
    color: #543939;
}
.sub{
    display: none;
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;

}
.nav li:hover .sub{
    display: block;
}


/* 제품 소개 */
.bg1{
    background: url(../productpage_images/product_bg.jpg) no-repeat center -5px;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.bg1_inner{
        margin: 0 auto;
        width: 1320px;
        overflow: hidden;
}
.bg1_inner h1{
    text-align: center;
    padding-top: 100px;
}
.bg1 ul{
    overflow: hidden;
    
}
.bg1_inner li{
    float: left;
    position: relative;
    
}
.bg1_inner .white{
    background: url(../productpage_images/flower.png) no-repeat;
    position: absolute;
    top: 18%;
    left: 0px;
    width: 94px;
    height: 94px;
    color: #fff;
    text-align: center;
    line-height: 94px;
    padding-top: 0px;
}
.white:hover{
    color: #e5d2ad;
}
.center{
    margin: 0px 195px;
}
.left{
    margin-left: 195px;
}
.width{
    width: 795px;
    margin: 0 auto;
}
.bg1_inner div{
    margin-top: 94px;
    overflow: hidden;
    border-radius: 50px 0px 0px 0px;
}
.bg1_inner h3{

    text-align: left;
    position: absolute;
    top: 472px;
    left: 0; 
    padding: 10px;
}
.bg1_inner h4{
    text-align: right;
    background: url(../productpage_images/heart_buy.png) no-repeat center 0;
    height: 34px;
    line-height: 34px;
}
.bg1_inner h4:hover{
    background: url(../productpage_images/heart_color.png) no-repeat center 0;
}
.height{
    margin-top: 100px;
}

.sky{
    background-color: #c6e9f7;
}
.yellow{
    background-color: #e5d2ad;
}
.gray{
    background-color: #d6d8d6;
}
.peach{
    background-color: #ffd9c4;
}
.shine{
    background-color: #a9eca1;
}
.pome{
    background-color: #fbc4c9;
}
.brown{
    background-color: #ebcb7a;
}
.green{
    background-color: #bed892;
}
.bg1_inner a:hover h3{
    color: #fff;
}
.bg1_inner p{
    text-align: left;
    line-height: 30px;
    padding-top: 22px;
    padding-bottom: 20px;
}
.card img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.card{
    position: relative;
}

.bg1_inner a:hover img{
    transform: rotateY(180deg);
    opacity: 1;
}
.bg1_inner img{
    display: block;
    transition: all 1s;
}

/* 성인인증 */
.adultbg{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.adult{
    background: url(../productpage_images/adult.png) no-repeat;
    width: 600px;
    height: 760px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.adult h2{
    color: #f06262ff;
    padding-top: 130px;
    padding-bottom: 15px;
    
}
.adult p{
    padding: 10px 0px;
    color: #fff;
    font-size: 16px;
}
.adult h3{
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    background-color: #543939;
    padding: 10px 70px;
    display: inline-block;
    margin-top: 15px;

}
.small{
    font-size: 14px;
}
.adult h4{
    text-align: left;
    color: #fff;
    padding-left: 110px;
}
input[type="button"]{
    display: inline-block;
    padding: 15px 95px;
    border: 1px solid #543939;
    border-radius: 15px 15px 15px 15px;
    background-color: #543939;
    color: #fff;
    font-size: 18px;
}
input[type="button"]:hover{
    color: #f06262ff;

}
input[type="text"]{
    display: inline-block;
    padding: 14px;
    width: 293px;
    border-radius: 15px 15px 15px 15px;
    border: none;
}
input[type="password"]{
    display: inline-block;
    padding: 14px;
    width: 293px;
    border-radius: 15px 15px 15px 15px;
    border: none;
}
input[type="submit"]{
    display: inline-block;
    width: 120px;
    padding: 13px;
    border-radius: 15px 15px 15px 15px;
    background-color: #543939;
    border: none;
    color: #fff;
    font-size: 15px;
    
}
input:focus{
    outline: none;
}
.adult> form> a{
    padding-top: 10px;
    color: #f06262ff;
    font-size: 20px;
}
.adult> form> a:hover{
    color: #fff;
}
.adult p a{
    color: #fff;
    font-size: 14px;
    padding: 0px 5px;
}
.adult p a:hover{
    text-decoration: underline;
}
input[type="submit"]:hover{
    color: #f06262ff;
}


/* 굿즈 슬라이드 */




/* 굿즈 */
.goods{
    width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
}
.goods h1{
    text-align: center;
    padding: 100px 0 50px 0;
}
.gallery .swiper-slide { 
    position: relative;
}
.box{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 173px;
    box-sizing: border-box;
    opacity: 0; 
    transition: all 1s;
    background-color: rgba(84, 57, 57, 0.5);
    color: #fff;
    border-radius: 50%;
}
.gallery .swiper-slide:hover .box{
    opacity: 1;
}
.box h4{
    padding-bottom: 20px;
    font-size: 30px;
}
.box p{
    font-size: 20px;
}











/* 푸터 */
.footer_inner{
    margin: 0 auto;
    width: 100%;
    background: url(../mainpage_images/wave_footer.png) no-repeat 50% 0;
    background-size: cover;
    animation: wave 8s infinite alternate linear ;
    height: 482px;
    text-align: center;
    margin-top: 70px;
}
@keyframes wave{
    0%{background-position: 50% 0;}
    100%{background-position: 0% 0px;}
}
.footer_inner ul{
    padding-top: 30px;
}
.f_logo img{
    padding-top: 130px;
}
.sns li{
    float: left;
    overflow: hidden;
    padding: 0px 10px;
}
.sns li a{
    display: block;
    width: 36px;
    height: 36px;
    opacity: 0.5;
}
.sns li:nth-child(1) a{
    background: url(../mainpage_images/facebook.png) no-repeat;
}
.sns li:nth-child(2) a{
    background: url(../mainpage_images/instagram.png) no-repeat;
}
.sns li:nth-child(3) a{
    background: url(../mainpage_images/youtube.png) no-repeat;
}
.sns li:hover a{
    opacity: 1;
}
.link2 li:hover a{
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgba(84, 57, 57, 0.6);
}
.link2 li, .link a{
    color: #543939;
}
.footer_inner ul{
    display: inline-block;
}
.link2 li{
    float: left;
}
.link3 li{
    float: left;
    
}
.link3{
    text-align: center;
    padding: 0px 30px;
    
}
.line{
    padding: 0px 20px;
}
/* top 버튼 */
.top {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.top img{
    display: block;
}
